<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Anmälan</h2>
                <h3 class="section-subheading text-muted">OSA senast 1 april (ej aprilskämt)</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="btn-group btn-group-lg" id="attending" data-toggle="buttons">
                                    <label for="primary" class="btn btn-primary w50">Jag kommer <input type="checkbox" id="primary" class="badgebox" value="yes"><span class="badge">&check;</span></label>
                                    <label for="primary1" class="btn btn-primary w50">Kommer ej<input type="checkbox" id="primary1" class="badgebox" value="no"><span class="badge">&check;</span></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Ditt namn *" id="name" required data-validation-required-message="Var vänlig och ange ditt namn">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Din partners namn" id="name-partner">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Din email *" id="email" required data-validation-required-message="Var vänlig och ange din email" data-validation-email-message="Ej gilitig email">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Ditt telefonnummer *" id="phone" required data-validation-required-message="Var vänlig och ange ditt telefonnummer">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Dina allergier och specialkost" id="allergies">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Din partners allergier och specialkost" id="allergies-partner">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="attending-friday" class="btn btn-primary btn-lg btn-block btn-text-wrap">Deltar på fredagsminglet (Endast långväga gäster)<input type="checkbox" id="attending-friday" class="badgebox" value="yes"><span class="badge">&check;</span></label>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Övriga önskemål" id="message"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <button type="submit" class="btn btn-xl btn-block">Skicka anmälan</button>
                        </div>
                    </div>
                </form>
                <div id="success"></div>
            </div>
        </div>
    </div>
</section>
