<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Anmälan</h2>
                    <h3 class="section-subheading text-muted">OSA senast 1 april (ej april skämt)</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Ditt namn *" id="name" required data-validation-required-message="Var vänlig och ange ditt namn">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Din partners namn" id="name-partner">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Din email *" id="email" required data-validation-required-message="Var vänlig och ange din email" data-validation-email-message="Ej gilitig email">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Ditt telefonnummer *" id="phone" required data-validation-required-message="Var vänlig och ange ditt telefonnummer">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Dina allergier" id="allergies">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Din partners allergier" id="allergies-partner">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Övriga önskemål" id="message"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="checkbox" id="attending-friday" value="yes">Jag vill komma på fredagen
                                    </label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Skicka anmälan</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
