<!-- About Section -->
    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Schema för helgen</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Fredag 3 juni kl 1830</h4>
                                    <h4 class="subheading">Mingel för långväga gäster</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">På kvällen innan bröllopet hålls ett mingel för våra gäster som rest upp från södra Sverige. Minglet hålls hemma hos brudens föräldrar på <a href="https://www.google.com/maps/d/viewer?mid=zQMrGHxG5T74.kvz6dB0dyXKc" target="_blank">Trollebergsvägen 31</a>. Det kommer att bjudas på lättare buffé samt dryck.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Lördag 4 juni kl 1500</h4>
                                    <h4 class="subheading">Vigsel i Luleå Domkyrka</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><a href="https://www.google.com/maps/d/viewer?mid=zQMrGHxG5T74.kvz6dB0dyXKc" target="_blank">Domkyrkan</a> ligger mitt i Luleå centrum</a> med gångavstånd till Stadshotellet.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Lördag 4 juni kl 1630</h4>
                                    <h4 class="subheading">Mingel och Brudskål</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Vi går gemensamt tillbaka till <a href="https://www.google.com/maps/d/viewer?mid=zQMrGHxG5T74.kvz6dB0dyXKc" target="_blank">Luleå stadshotell</a>, ca 3 minuters promenad där vi samlas på hotellets terrass för brudskål och mingel.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Lördag 4 juni kl 1800</h4>
                                    <h4 class="subheading">Bröllopsmiddag på Luleå Stadshotell</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Middagen hålls i festivitetssalen, en våning ovanför terrassen. Efter att middagen är avslutad kommer vi att gå tillbaka till terrassen för fortsatt fest!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.gif" loop=infinite alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Lördag 4 juni - Söndag 5 juni</h4>
                                    <h4 class="subheading">FEST! KL 2201</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Gemensam fest tills småtimmarna. Kommer gänget från Peking visa vilka som är kungar på dansgolvet eller visar norrlänningarna att de har hemmafördel?</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Söndag 5 juni</h4>
                                    <h4 class="subheading">Frukost</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Gemensam frukost tillsammans med brudparet för gäster som bor på Luleå Stadshotell. Frukosten är öppen mellan kl 8:00 - 12:00.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Tack för
                                    <br>en trevlig
                                    <br>helg!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
